<button class="btn btn-primary mx-4" (click)="openPopUp()" style="float: right; margin: 10px;">Add Product</button>
<p class="display-4 text-center" style="color: rgb(250, 150, 20); font-weight: bolder; font-style: italic;">Products for Sale</p>
<div *ngIf="showAddProductForm" class="product-form" (click)="closeOverLay($event)">
    <div class="content" style="background-color: rgb(240, 220, 175); border-radius: 10px;">
        <h4 class="text-center">Add your product</h4>
        <div class="close" (click)="closePopUp()">
            &times;
        </div>
        <form [formGroup]="addProductForm" (ngSubmit)="onSubmit()" class="row g-3">
            <div class="col-md-6">
                <label for="title" class="form-label">Product Name:</label>
                <input id="title" class="form-control" type="text" formControlName="title" placeholder="Enter product name"/>
            </div>
            <div class="col-md-6">
                <label for="price" class="form-label">Price:</label>
                <input id="price" class="form-control" type="number" formControlName="price" placeholder="Enter price"/>
            </div>
            <div class="col-md-12">
                <label for="description" class="form-label">Description:</label>
                <textarea id="description" class="form-control" formControlName="description" cols="30" rows="3" placeholder="Describe your product"></textarea>
            </div>
            <div class="col-12">
                <label for="image" class="form-label">Image URL:</label>
                <input id="image" class="form-control" type="text" formControlName="image" placeholder="Enter image URL"/>
            </div>
            <div class="col-12">
                <button type="submit" [disabled]="addProductForm.invalid" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>

<div class="row row-cols-sm-12 row-cols-md-12 row-cols-lg-8 row-cols-xl-8 g-4 mt-2 m-2" style="justify-content: space-evenly;">
    <div class="d-flex justify-content-center" *ngIf="displayProducts.length==0">
        <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
          <span class="sr-only"></span>
        </div>
    </div>
    <div class="card" style="width: 18rem; box-shadow:initial;" *ngFor="let product of displayProducts">
        <img class="card-img-top" [src]="product['image']" alt="Card image cap" height="250px">
        <div class="card-body">
            <div *ngIf="!product.isEditing; else editMode">
                <h5 class="card-title">{{product.title}}</h5>
                <p class="card-text" style="height:100px; overflow-y: scroll;">{{product.description}}</p>
                <h3>{{product.price | currency:'USD'}}</h3>
                <div class="button-container">
                    <button class="btn btn-primary" (click)="updateSeller(product)">Update</button>
                    <button class="btn btn-danger" (click)="removeProduct(product.id)">Remove</button>
                </div>
            </div>
            <ng-template #editMode>
                <input type="text" [(ngModel)]="product.title" class="form-control mb-2" placeholder="Name">
                <textarea [(ngModel)]="product.description" class="form-control mb-2" rows="3" placeholder="Description"></textarea>
                <input type="number" [(ngModel)]="product.price" class="form-control mb-2" placeholder="Price">
                <div class="button-container">
                    <button class="btn btn-success" (click)="saveProduct(product)">Save</button>
                    <button class="btn btn-secondary" (click)="cancelEdit(product)">Cancel</button>
                </div>
            </ng-template>
    </div>
</div>